
<div class="panel panel-default">
	<div class="panel-heading">
		{{ j.title }} - {{ j.date}}
	</div>
	<div class="panel-body">

		<br />

		<button onclick="window.location='{% url 'details' pk=j.id %}'" type="button" class="btn btn-primary">
			Szczegóły
		</button>

		<button onclick="window.location='{% url 'edit'  id=j.id %}'" type="button" class="btn btn-primary">
			Edytuj
		</button>

		<button onclick="window.location='{% url 'delete'  id=j.id %}'" type="button" class="btn btn-primary">
			Usuń
		</button>

		<br />

		 {{ j.description|truncatechars:24 }}
	</div>
</div>
