
<div class="card">
	<div class="card-header {% if date > article.date %} gray {% endif %}">
		<div class="card-title">
			<b>{{ article.title }}</b> - {{ article.date}}
		</div>
	</div>
	<div class="card-body">
		<div class="card-text">
			{{ article.description|truncatechars:24 }}
		</div>

		<br />

		<button onclick="window.location='{% url 'details' pk=article.id %}'" type="button" class="btn btn-primary">
			Szczegóły
		</button>

		{% if admin %}

			<button onclick="window.location='{% url 'edit'  id=article.id %}'" type="button" class="btn btn-primary">
				Edytuj
			</button>

			<button onclick="window.location='{% url 'delete'  id=article.id %}'" type="button" class="btn btn-primary">
				Usuń
			</button>

		{% endif %}

	</div>
</div>
