body {
	padding-top: 0px;
}

.wrap {
	word-wrap: normal;
}

.hor_input {
	display: inline;
	width: 50%;
}
.leaflet-container { /* all maps */
	width: 600px;
	height: 400px;
}

#specialbigmap {
	height: 800px;
}

.gray {
	color: gray;
}