{% extends 'app/shared/layout.html'%}

{% block content %}
{% load widget_tweaks %}

<div class="container form-group">
	<br />
	<div class="row">
		<div >
			<h1>Dodaj ogłoszenie</h1>
		</div>
	</div>
</div>

<div class="container form-group">
	<form method="post">
		{% csrf_token %} 
		{% for field in form %}
			{{ field.errors }}
			<label>{{ field.label }}</label>
			{{ field }}
			<br />
		{% endfor %}
		<button type="submit" class="btn btn-primary">Potwierdź</button>
		<button onclick="window.location='{% url 'news' %}'" type="button" class="btn btn-primary">Wróć</button>
	</form>
</div>

{% endblock %}
