{% extends "app/shared/layout.html" %}

{% block content %}

<br />

<h1> {{new.title}} </h1>

<div class="table-responsive-sm">
	<table class="table table-light">
	<tbody>
		<tr>
			<td scope="col"> 
				<button onclick="window.location='{% url 'declare' pk=new.id %}' " class="btn btn-primary">{{ declaration }}</button> 
				{% if declaration == 'Wezmę udział' %}
					<button onclick="window.location='{% url 'interest' pk=new.id %}'" class="btn btn-primary">{{ interested }}</button> 
				{% endif %}
			</td>
			<td scope="col"> Data rozpoczęcia: {{ new.date|date:"Y m d D" }} </td>
			<td scope="col"> Adres: {{ new.address }} </td>
		</tr>
	</tbody>
	</table>
</div>

<div class="wrap">
	<p> 
		{{ new.description }} 
	</p>
</div>
	
<br>

<form method="post">
	<input id="comment" class="form-control hor_input" type="text" name="comment" value="Comment..." />
	{% csrf_token %} 
	<button type="submit" class="btn btn-primary">Wyślij</button>
	<button onclick="window.location='{% url 'news' %}'" class="btn btn-primary">Powrót</button>
</form>

<div class="container">
	<table class="table table-borderless table-light">
		<tbody>	
			{% for c in	comments %}
			<tr>
				<td scope="col"> {{ c.comment }} </td>
				<td scope="col"> <i>{{ c.id_user }}</i> </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
