{% extends "app/shared/layout.html" %}

{% block content %}

<br />

<h1> {{new.title}} </h1>

<div class="table-responsive-sm">
	<table class="table table-light">
	<tbody>
		<tr>
			<td scope="col"> 
				<button onclick="window.location='{% url 'declare' pk=new.id %}' " class="btn btn-primary">{{ declaration.message }}</button> 
				<button onclick="window.location='{% url 'interest' pk=new.id %}'" class="btn btn-primary">{{ interested.button }}</button> 
			</td>
			<td scope="col"> Data rozpoczęcia: {{new.date|date:"Y m d D"}} </td>
			<td scope="col"> Adres: {{new.address}} </td>
		</tr>
	</tbody>
	</table>
</div>

<p> {{new.description}} </p>
	
<br>

<table class="table table-borderless table-light">
	<tbody>	
		<tr>
			<td>
				<input id="comment" class="form-control" type="text" name="comment" value="Comment..." />
			</td>
			<td>
				<form method="post">
					{% csrf_token %} 
					<button type="submit" class="btn btn-primary">Send</button>
					<button onclick="window.location='{% url 'news' %}'" class="btn btn-primary">Back to news</button>
				</form>
			</td>
		</tr>
	</tbody>
</table>

<div class="container">
	<table class="table table-borderless table-light">
		<tbody>	
			{% for c in	comments %}
			<tr>
				<td scope="col"> {{ c.comment }} </td>
				<td scope="col"> <i>{{ c.id_user }}</i> </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
