<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

	<title>{% block title %}NewsCenter{% endblock %}</title>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../../static/app/content/styles.css" />

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	
		<a class="navbar-brand" href="/">NewsCenter</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav mr-auto">
				<li class="nav-item {% if title == 'Strona główna' %} active {% endif %}">
					<a class="nav-link" href="{% url 'home' %}">
						Strona główna
					</a>
				</li>
				<li class="nav-item {% if title == 'O nas' %} active {% endif %}">
					<a class="nav-link" href="{% url 'about' %}">
						O nas
					</a>
				</li>
				<li class="nav-item {% if title == 'Kontakt' %} active {% endif %}">
					<a class="nav-link" href="{% url 'contact' %}">
						Kontakt
					</a>
				</li>
				<li class="nav-item {% if title == 'Wiadomości' %} active {% endif %}">
					<a class="nav-link" href="{% url 'news' %}">
						Wiadomości
					</a>
				</li>
				{% if auth == 'yes' %}
					<li class="nav-item {% if title == 'Użytkownicy' %} active {% endif %}">
						<a class="nav-link" href="{% url 'user' %}">
							Użytkownicy
						</a>
					</li>
						<li class="nav-item {% if title == 'Komentarze' %} active {% endif %}">
							<a class="nav-link" href="{% url 'comments' %}">
								Komentarze
							</a>
						</li>
					<li class="nav-item {% if title == 'Organizatorzy' %} active {% endif %}">
						<a class="nav-link" href="{% url 'organizers' %}">
							Organizatorzy
						</a>
					</li>
				{% endif %}
			</ul>

			{% include 'app/partial/loginpartial.html' %}
	
		</div>
	
	</nav>
	
	<div class="container body-content">
	
		{% block content %}

		{% endblock %}

		<hr/>
		<footer class="footer">
			<p>&copy; {{ year }} - Wszystkie prawa zastrzeżone </p>
		</footer>
	</div>

	{% block scripts %}
	{% endblock %}

</body>
</html>
