{%  extends 'app/shared/layout.html' %}


{% block title %}Reset hasła{% endblock %}

{% block content %}
	<br />
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reset hasłą</h3>
          <p>Sprawdź link aktywacyjny na email. Jeżeli nie link aktywacyjny nie przyjdzie w przeciągu kilku minut, sprawdź folder spam.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Powrót do logowania</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}