{%  extends 'app/shared/layout.html' %}

{% block title %}
  {% if validlink %}
   Zmieniono hasło dla {{ form.user.username }}
  {% else %}
    Zmiana hasła
  {% endif %}
{% endblock %}

{% block content %}
	<br />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Zmieniono hasło dla @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'app/partial/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Zmień hasło</button>
            </form>
          {% else %}
            <h3 class="card-title">Zresetuj hasło</h3>
            <div class="alert alert-danger" role="alert">
				Wygląda na to, że masz zły link aktywacyjny. Sprawdź maila jeszcze raz.
			</div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Powiadomienie o zmianie hasła</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}