{%  extends 'app/shared/layout.html' %}

{% block title %}Hasło zostało zmienione!{% endblock %}

{% block content %}
	<br />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Zmieniłeś hasło!</h3>
          <div class="alert alert-success" role="alert">
            Udało Ci się zmienić swoje hasło. Możesz teraz się zalogować!
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Powrót do logowania</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}