{% extends 'app/shared/layout.html'%}

{% block content %}

<br />

<div class="alert alert-info">
	<h2>Edycja profilu</h2>
</div>

<br />

<div class="container form-group">
	<form action="/update" method="post">
		{% csrf_token %} 
		<label for="name">
			Imie:
			<input type="text" value="{{ user.user.name }}" name="name"  placeholder="{{ user.user.name }}" class="form-control" />
		</label>
		<br />
		<label for="surname">
			Nazwisko: 
			<input type="text" name="surname" id="surname" class="form-control" value="{{ user.user.surname}}" placeholder=" {{ user.user.surname}}"/>
		</label>
		<br />
			<label for="age">
				Wiek: 
				<input type="text" name="age" id="age" class="form-control" value="{{ user.user.age}}" placeholder=" {{ user.user.age}}"/>
			</label>
		<br />
			<label for="email">
				Email: 
				<input type="email" name="email" id="email" class="form-control" value="{{ user.user.email}}" placeholder=" {{ user.user.email}}"/>
			</label>
		<br />
		<button type="submit" class="btn btn-primary">Zatwierdź</button>
		<button onclick="window.location='{% url 'home' %}'" type="button" class="btn btn-primary">Powrót</button>
	</form>
</div>
{% endblock %}
