{% extends 'app/shared/layout.html' %}

{% block content %}

<div class="container form-group">
	<br />
	<div class="row">
		<div >
			<h1>Edit Details</h1>
		</div>
		<div >
			<button onclick="window.location='{% url 'details' %}'" type="button" class="btn btn-primary">Back</button>
		</div>
	</div>
</div>

<div class="container form-group">
	<form action="update" method="post">
		{% csrf_token %} 
			{{ user.as_p }}
			<button type="submit" class="btn btn-primary">Confirm</button>
	</form>
</div>
{% endblock %}