{% extends "app/shared/layout.html" %}

{% block content %}

<br/>

<div class="container">
	<table class="table table-light">
		<caption>Lista wszystkich użytkowników</caption>
		<thead class="thead-dark">
			<tr>
				<th scope="col">Nazwa użytkownika</th>
				<th scope="col">E-mail           </th>
				<th scope="col">Stan             </th>
			</tr>
		</thead>
		<tbody>	
			{% for profile in profiles %}
			<tr>
				<td scope="col">  {{ profile.user.username }} </td>
				<td scope="col">  {{ profile.user.email    }} </td>
				<td scope="col">  {{ profile.role          }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}