{% extends 'app/shared/layout.html' %} 

{% block content %}

<br />

<div class="alert alert-info">
	<h2>Szczegóły profilu</h2>
</div>

<br />

<div class="table-responsive-sm">
	<table class="table table-light">
	<thead class="thead-dark">
		<tr>
			<th scope="col"> Nazwa użytkownika    </th> 
			<th scope="col"> Email   </th> 
			<th scope="col"> Imie </th> 
			<th scope="col"> Nazwisko </th> 
			<th scope="col"> Wiek </th> 
			<th scope="col"> Dostęp </th> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="col"> {{ profile.user.username }} </td>
			<td scope="col"> {{ profile.user.email }} </td>
			<td scope="col"> {{ profile.user.name }} </td>
			<td scope="col"> {{ profile.user.surname }} </td>
			<td scope="col"> {{ profile.user.age }} </td>
			<td scope="col"> {{ profile.role }} </td>
		</tr>
	</tbody>
	</table>
	
	<button	onclick="window.location = '{% url 'edit' %}'" class="btn btn-primary" scope="col">Edycja</button>
</div>
{% endblock %}