{% extends 'app/shared/layout.html' %} 

{% block content %}

<h2> Szczegóły użytkownika </h2>
<div class="table-responsive-sm">
	<table class="table table-light">
	<thead class="thead-dark">
		<tr>
			<th scope="col"> Nazwa użytkownika    </th> 
			<th scope="col"> Email   </th> 
			<th scope="col"> Imie </th> 
			<th scope="col"> Nazwisko </th> 
			<th scope="col"> Wiek </th> 
			<th scope="col"> Dostęp </th> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="col"> {{ user.username }} </td>
			<td scope="col"> {{ user.email }} </td>
			<td scope="col"> {{ user.name }} </td>
			<td scope="col"> {{ user.surname }} </td>
			<td scope="col"> {{ user.age }} </td>
			<td scope="col"> {{ user. }} </td>
		</tr>
	</tbody>
	</table>
			<button	onclick="window.location = '{% url 'edit' %}'" class="btn btn-primary" scope="col">Edycja</button>
</div>
{% endblock %}