{% extends 'app/shared/layout.html' %} 

{% block content %}

<br />

<div class="alert alert-info">
	<h2>Szczegóły profilu</h2>
</div>

<br />

<div class="card">
	<div class="card-header {% if date > article.date %} gray {% endif %}">
		<div class="card-title">
			<b>
				{{ profile.user.username }}
			</b>
		</div>
	</div>
	<div class="card-body">
		<div class="card-text">
			{{ profile.user.email }}    <br />
			{{ profile.user.name }}     <br />
			{{ profile.user.surname }}  <br />
			{{ profile.user.age }}      <br />
			Poziom dostępu: {{ profile.role }} <br />
		</div>

		<br />

		<button	onclick="window.location = '{% url 'edit' %}'" class="btn btn-primary" scope="col">Edycja</button>

	</div>
</div>

{% endblock %}
