{% extends "app/shared/layout.html" %}

{% block content %}

<br />

<div class="alert alert-info">
	<h2>{{ title }}</h2>
</div>

<br />

<div class="card">
	<div class="card-header">
		<h5 class="card-title">Patryk Milewski</h5>
	</div>
	<div class="card-body">
		<p class="card-text">
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><a href="mailto:mpatryk97@gmail.com">mpatryk97@gmail.com</a><br /></li>
				<li class="list-group-item">731 706 743</li>
			</ul>
		</p>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<h5 class="card-title">Dawid Najda</h5>
	</div>
	<div class="card-body">
		<p class="card-text">
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><a href="mailto:dawidek199710@gmail.com">dawidek199710@gmail.com</a><br /></li>
				<li class="list-group-item">503 585 239</li>
			</ul>
		</p>
	</div>
</div>

{% endblock %}
