{% extends "app/shared/layout.html" %}

{% block content %}

<br/>

<div class="table-responsive-sm">
	<table class="table table-light">
		<caption>Lista organizatorów</caption>
	<thead class="thead-dark">
		<tr>
			<th scope="col"> Nazwa        </th> 
			<th scope="col"> Właściciel   </th> 
			<th scope="col"> Kontakt      </th> 
			<th scope="col"> Adres        </th> 
		</tr>
	</thead>
	<tbody>
		{% for organizer in	collection  %}
		<tr>
			<td scope="col"> {{ organizer.name    }} </td>
			<td scope="col"> {{ organizer.owner   }} </td>
			<td scope="col"> {{ organizer.contact }} </td>
			<td scope="col"> {{ organizer.address }} </td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}