.footer {
	position: fixed;
	left: 1%;
	bottom: 0;
	width: 100%;
	background-color: transparent;
	color: black;
	text-align: left;
}

html {
	height: 100%;
}

body {
	height: 100%; /* IE */
	background-repeat: no-repeat;
	background-attachment: fixed;

	background: rgb(225,255,255);
	background: -moz-linear-gradient(
		top, rgba(225,255,255,1) 0%, rgba(242,255,255,1) 7%, rgba(242,255,255,1) 19%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%
	);
	background: -webkit-linear-gradient(
		top, rgba(225,255,255,1) 0%,rgba(242,255,255,1) 7%,rgba(242,255,255,1) 19%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%
	);
	background: linear-gradient(
		to bottom, rgba(225,255,255,1) 0%,rgba(242,255,255,1) 7%,rgba(242,255,255,1) 19%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 );
}

.blue-gradient {
	background: #3b679e;
	background: -moz-linear-gradient(
		top, #3b679e 0%, #207cca 2%, #006dc6 23%, #3c92d8 45%, #2282d6 53%, #0074bc 77%, #7db9e8 100%
	);
	background: -webkit-linear-gradient(
		top, #3b679e 0%,#207cca 2%,#006dc6 23%,#3c92d8 45%,#2282d6 53%,#0074bc 77%,#7db9e8 100%
	);
	background: linear-gradient(
		to bottom, #3b679e 0%,#207cca 2%,#006dc6 23%,#3c92d8 45%,#2282d6 53%,#0074bc 77%,#7db9e8 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( 
		startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 
	);
}

.blue-activegradient {
	background: rgba(0, 0, 0, 0.25);
}